.boxP {
  width: 150px;
  height: 150px;
  border-radius: 12px;

  display: flex;
  align-items: center;     /* vertical center */
  justify-content: center; /* horizontal center */

  color: white;
  font-weight: bold;

  margin: 100px;

  background-color: hsl(260, 80%, 60%);
}